	<div id="dados" class="hide" data-context-path='<%= contextPath %>' data-usuario-logado='<%-JSON.stringify(usarioLogado)%>' data-client-id='<%-JSON.stringify(client_id)%>'></div>

	<div id="buscar-height" class="row">
	</div>

	<div class="row">
		<form>
			<div class="col-lg-6 col-lg-offset-3 col-xs-9 com-sm-9">
			  <input id="buscar-query" type="text" class="form-control" placeholder="Buscar usuário"></input>
	    		<p class="help-block buscar-msg fade"></p>
			</div>

			<div class="col-lg-3 col-xs-3 col-sm-3 pull-left-">
		 	   <button id="buscar" type="submit" class="btn btn-success">Buscar</button>
			</div>
		</form>
		
	</div>	

	<div id="instagram-container" class="row">
	</div>

	<%- contentFor('view_scripts') %>
	<script src="/assets/js/mustache.js"></script>	
	<script src="/assets/js/holder.js"></script>
	<script src="/assets/js/buscar.js"></script>
