<div id="dados" class="hide" data-context-path='<%= contextPath %>' data-usuario-logado='<%-JSON.stringify(usarioLogado)%>' data-client-id='<%-JSON.stringify(client_id)%>'></div>

<div id="fotos-container" class="row">
	<div class="col-xs-12 visible-lg visible-md">
	</div>
</div>

<div id="instagram-feed" class="row"></div>

<%- contentFor('view_scripts') %>
<script src="/assets/js/feed.js"></script>

