<div id="dados" class="hide" data-usuario-logado='<%-JSON.stringify(usarioLogado)%>' data-client-id='<%-JSON.stringify(client_id)%>'></div>

<div class="row">
	<ul class="breadcrumb">
		<li><a href="http://localhost:3000/sorte.ar/">Início</a></li>
		<li class="active">Fotos</li>
	</ul>
</div>

<div id="fotos-container" class="row">
	<div class="col-xs-12 visible-lg visible-md">
		<h2 class="text-success ">Feed</h2>
		<hr />
	</div>
</div>

<div id="instagram-feed" class="row"></div>

<%- contentFor('view_scripts') %>
<script src="/assets/js/feed.js"></script>

