<div id="dados" class="hide" 
	data-usuario-logado='<%-JSON.stringify(usarioLogado)%>' 
	data-context-path='<%= contextPath %>'
	data-media='<%= media %>'>
</div>

<div id="fotos-container" class="row">
	<div class="col-xs-12 visible-lg visible-md">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">

		<div class="roulette_container well" >

		    <div class="github-fork-ribbon-wrapper right">
		        <div class="github-fork-ribbon">
		            <a href="#">Parabéns</a>
		        </div>
		    </div>	

			<div id="roullete" class="roulette">		
		    </div>
        </div>				
	</div>
	<div class="col-xs-12">
		<p>
			<button class="btn btn-large btn-success btn-lg btn-block start"> Sorte.ar </button>
		</p>
	</d
	iv>
</div>

<%- contentFor('view_scripts') %>
<script src="/assets/js/mustache.js"></script>
<script src="/assets/js/roulette.js"></script>		
<script src="/assets/js/sortear.js"></script>

